*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, rgb(46, 46, 255), rgb(72, 9, 109));
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

h1{
    font-family: 'Sigmar', cursive;
    color: rgb(243, 229, 171); /* Vanilla color */
    letter-spacing: 0.6rem;
    /* text-shadow: 0 0 0 rgb(243, 229, 171),
            1px 0 0 rgb(233, 219, 161),
            2px 0 0 rgb(223, 209, 151),
            3px 0 0 rgb(213, 199, 141),
            4px 0 0 rgb(203, 189, 131),
            5px 0 0 rgb(193, 179, 121),
            6px 0 0 rgb(183, 169, 111),
            7px 0 0 rgb(173, 159, 101),
            8px 0 0 rgb(163, 149, 91),
            9px 0 0 rgb(153, 139, 81),
        ; */
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    border-radius: 1.5rem 0rem 0rem 1.5rem;
}

form button {
    border-radius: 0rem 1.5rem 1.5rem 0rem;
    color: rgb(72, 9, 109);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color: rgb(72, 9, 109);
    color: #f3e5ab;
}

form input, form button {
    padding: 0.6rem;
    font-size: 2.1rem;
    border: none;
    background: white;
}

.todo__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__list {
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.6rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s ease;
    border-radius: 1.5rem;
}

.todo li {
    flex: 1;
}

.delete__btn,
.complete__btn {
    background: #ec1b0c;
    color: black;
    border: none;
    padding: 1.2rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.delete__btn{
    border-radius: 0rem 1.5rem 1.5rem 0rem;
}

.complete__btn{
    background: rgb(73, 204, 73);
}

.todo__item{
    padding: 0rem 0.6rem;
}