*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, rgb(46, 46, 255), rgb(72, 9, 109));
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

h1{
    font-family: 'Sigmar', cursive;
    color: #f3e5ab; /* Vanilla color */
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    border-radius: 1.5rem 0rem 0rem 1.5rem;
}

form button {
    border-radius: 0rem 1.5rem 1.5rem 0rem;
    color: rgb(72, 9, 109);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color: rgb(72, 9, 109);
    color: #f3e5ab;
}

form input, form button {
    padding: 0.6rem;
    font-size: 2.1rem;
    border: none;
    background: white;
}